DATABASE_URL="mysql://root:password1@localhost:3306/nexcart_db"
JWT_SECRET="replace-with-a-long-random-secret-min-32-chars"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# Demo accounts (created by: npm run db:seed)
# Admin:       admin@nexcart.com       / Admin@12345
# Super Admin: superadmin@nexcart.com  / Super@12345
# Delivery:    delivery@nexcart.com    / Delivery@12345
# Customer:    customer@nexcart.com    / Customer@12345
